/* Importing fonts from css font files */

@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");

/* */

/* Content wraper and footnote pushed to the buttom*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

/* Begginning of main.css*/
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font: 'opensans-bold', sans-serif;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover {
    text-decoration: none;
    color: rgb(54, 55, 56);
}
h1 {
    font-size: 3em;
    font: "opensans-bold", sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: rgb(0, 0, 0);
}
footer {
    border-top: 1px solid #000000;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
