<!DOCTYPE html>
	<html>
		<head>
			
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<body>
			<header>
				<h2>J</h2>
				<nav>
					<ul>
						<li><a class="nav" href="/">Inicio</a></li>
						<li><a class="nav" href="/docs">Docs</a></li>
					</ul>
				</nav>
			</header>
	
			<div class="wrapper">
			
			{{ content }}

			<div class="push"></div>
			</div><!-- /.container -->
			<div class="footer"></div>


			<footer>
	    		<ul>
					<li><a class="nav" href="mailto:juanhinojosa23@gmail.com">e</i></a></li>
					<li><a class="nav" href="https://www.twitter.com/jchp_23"><i class="fa fa-twitter"></i></a></li>
					<li><a class="nav"href="https://www.linkedin.com/in/juan-h-693096b2"><i class="fa fa-linkedin"></i></a></li>
				</ul>
				<div class="copyright">© <a href="/">Juan Hinojosa</a> 2020</div>
			</footer>
		</body>
	</html>
