<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>

		<header>
			<h2>J</h2>
			<nav>
	    		<ul>
	        		<li><a href="/">Inicio</a></li>
					<li><a href="/cv">CV</a></li>
					<li><a href="/docs">Docs</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
		</header>

		<body>
	
			<div class="wrapper">
			
			{{ content }}

			<div class="push"></div>
			</div><!-- /.container -->
			<div class="footer"></div>


			<footer>
	    		<ul>
					<li><a href="mailto:juanhinojosa23@gmail.com">e</i></a></li>
					<li><a href="https://www.twitter.com/jchp_23"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/juan-h-693096b2"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>
